@model PJC.Models.muasach

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <h1 class="mt-4">Tạo mới đơn hàng</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/Home">Trang chủ</a></li>
        <li class="breadcrumb-item active">Tạo mới đơn hàng</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="Index" asp-controller="MuaSach">Về danh sách</a>
        </div>

        <div class="card-body">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="HoTen" class="control-label"></label>
                        <input asp-for="HoTen" class="form-control" value="" />
                        <span asp-validation-for="HoTen" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SoDienThoai" class="control-label"></label>
                        <input asp-for="SoDienThoai" class="form-control" value="" />
                        <span asp-validation-for="SoDienThoai" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DiaChi" class="control-label"></label>
                        <input asp-for="DiaChi" class="form-control" />
                        <span asp-validation-for="DiaChi" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MaSach" class="control-label"></label>
                        <input asp-for="MaSach" class="form-control" />
                        <span asp-validation-for="MaSach" class="text-danger"></span>
                    </div>

               

                    <div class="form-group">
                        <label asp-for="NguoiBan" class="control-label"></label>
                        <input asp-for="NguoiBan" class="form-control" value="@ViewBag.sessionv" readonly />
                        <span asp-validation-for="NguoiBan" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>





